@charset "UTF-8";
@mixin fonts($size:16px, $weight:400, $color:#111) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
body {
    font-family: sans-serif;
    @include fonts;
    background-color: #fff;
}
img {
    max-width: 100%;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 16px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    margin: 0;
}
small {
    font-size: 12px;
}
.btn:focus,
.form-control:focus {
    box-shadow: none;
}
.form-control {
    color: #000;
    border-color: #000;
}
.form-control:focus {
    border-color: red;
}
/*--------------------------------------------------------------------
 HEADER                           
---------------------------------------------------------------------*/
header {
    position: relative;
    height: 100vh;
    z-index: 1;
}
.position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header-bg {
    @extend .position;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}
.header-overlay {
    @extend .position;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.navigation {
    padding: 16px 0;
    border-bottom: 1px solid #d5d5d5;
}
.logo {
    @include fonts(25px, 500, #fff !important);
}
.menu {
    ul li a {
        color: #fff;
        padding: 0 20px !important;
    }
}
@media (max-width: 991.98px) {
    .navigation {
        background: #000;
        z-index: 2;
    }
    .menu {
        ul li a {
            padding: 8px 0 !important;
        }
    }
}
.banner {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-content {
    color: #fff;
    text-align: center;
    h1 {
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    p {
        max-width: 600px;
        margin: 20px auto 30px;
    }
}